bleach==2.1.4
bokeh==0.13.0
boto==2.49.0
Bottleneck==1.2.1
cached-property==1.5.2
cachetools==4.2.0
certifi==2018.8.24
cffi==1.11.5
cfgv==3.3.1
chardet==3.0.4
click==8.0.3
cliff==3.9.0
cloudpickle==0.5.5
cmaes==0.8.2
cmd2==2.2.0
colorama==0.4.4
colorlog==6.5.0
commonmark==0.9.1
configparser==5.0.2
ConfigSpace==0.4.12
constantly==15.1.0
contextlib2==0.5.5
coverage==5.3.1
cryptography==2.3.1
cycler==0.10.0
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.1
datashape
decorator==4.3.0
defusedxml==0.5.0
distlib==0.3.3
distributed==1.23.1
docker-pycreds==0.4.0
docutils==0.14
emcee==3.1.1
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
fasteners==0.16.3
filelock==3.3.1
flake8==4.0.1
Flask==1.0.2
Flask-Cors==3.0.6
fsspec==2021.10.1
future==0.18.2
gevent==1.3.6
gitdb==4.0.8
GitPython==3.1.24
glob2==0.6
gmpy2==2.0.8
google-auth==1.24.0
google-auth-oauthlib==0.4.2
googledrivedownloader==0.4
greenlet==0.4.15
grpcio==1.41.1
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hydra-colorlog==1.1.0.dev1
hydra-core==1.1.0rc1
hyperlink==18.0.0
hyperopt==0.1.2
identify==2.3.1
idna==2.7
imageio==2.4.1
imagesize==1.1.0
imbalanced-learn==0.8.1
imblearn==0.0
importlib-metadata==3.4.0
importlib-resources==5.3.0
incremental==17.5.0
install==1.3.4
ipdb==0.13.9
ipykernel==4.9.0
ipython==7.28.0
ipython_genutils==0.2.0
ipywidgets==7.4.1
isodate==0.6.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.18.0
jeepney==0.3.1
Jinja2==2.10
joblib==1.0.0
json-tricks==3.15.5
jsonpatch==1.28
jsonpointer==2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.11.2
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
keyring==13.2.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lightgbm==3.3.1
lightning-bolts==0.4.0
llvmlite==0.24.0
locket==0.2.0
lxml==4.2.5
Mako==1.1.5
Markdown==3.3.3
#MarkupSafe==1.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.3
#mkl-fft==1.0.4
#mkl-random==1.0.1
more-itertools==4.3.0
mpmath==1.0.0
msgpack==0.5.6
multidict==5.2.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
nas-bench-201==1.3
nbconvert==5.4.0
nbformat==4.4.0
netifaces==0.10.9
networkx==2.1
nltk==3.3
nni==1.9
nodeenv==1.6.0
nose==1.3.7
notebook==5.6.0
numba==0.39.0
numexpr==2.6.8
numpy==1.19.5
numpydoc==0.8.0
oauthlib==3.1.0
odo==0.5.0
olefile==0.46
omegaconf==2.1.0rc1
opencv-python==4.5.4.58
openpyxl==2.5.6
optuna==2.4.0
packaging==21.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.8.2
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
pathspec==0.9.0
pathtools==0.1.2
pathvalidate==2.5.0
patsy==0.5.0
pbr==5.6.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==8.4.0
pkginfo==1.4.2
platformdirs==2.4.0
pluggy==0.7.1
ply==3.11
pre-commit==2.15.0
prettytable==2.2.1
prometheus-client==0.3.1
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.14.0
psutil==5.4.7
ptyprocess==0.6.0
pudb==2021.1
py==1.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pybnn==0.0.5
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.2
pyDeprecate==0.3.1
pyflakes==2.4.0
Pygments==2.10.0
PyHamcrest==2.0.2
pylint==2.1.1
pymongo==3.11.2
pynisher==0.6.4
pyodbc==4.0.24
pyOpenSSL==18.0.0
pyparsing==3.0.4
pyperclip==1.8.2
Pyro4==4.81
PySocks==1.6.8
pytest==3.8.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
python-dotenv==0.19.1
python-louvain==0.15
PythonWebHDFS==0.2.3
pytorch-lightning==1.4.9
pytz==2018.5
PyWavelets==1.0.0
PyYAML==6.0
pyzmq==17.1.2
QtAwesome==0.4.4
qtconsole==4.4.1
QtPy==1.5.0
rdflib==6.0.2
regex==2021.10.8
requests==2.25.1
requests-oauthlib==1.3.0
responses==0.10.15
rich==10.12.0
rope==0.11.0
rsa==4.6
ruamel.yaml.clib==0.2.2
ruamel_yaml==0.15.46
schema==0.7.3
scikit-image==0.14.0
scikit-learn==0.23.0
scipy==1.2.1
seaborn==0.9.0
SecretStorage==3.1.0
Send2Trash==1.5.0
sentry-sdk==1.4.3
serpent==1.40
service-identity==17.0.0
sh==1.14.2
shortuuid==1.0.1
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch==3.4.0.3
six==1.15.0
smmap==4.0.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
Sphinx==1.7.9
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.4.25
statsmodels==0.9.0
stevedore==3.4.0
subprocess32==3.5.4
sympy==1.2
table
tblib==1.3.2
tensorboard==1.14.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
threadpoolctl==2.1.0
timm==0.4.12
toml==0.10.2
tomli==1.2.1
toolz==0.9.0
torch==1.8.0+cu111 
torch-cluster==1.5.9 -f https://data.pyg.org/whl/torch-1.8.0%2Bcu111.html
torch-geometric==1.6.3 -f https://data.pyg.org/whl/torch-1.8.0%2Bcu111.html
torch-scatter==2.0.6 -f https://data.pyg.org/whl/torch-1.8.0%2Bcu111.html
torch-sparse==0.6.12 -f https://data.pyg.org/whl/torch-1.8.0%2Bcu111.html
torchaudio==0.8.0 
torchfile==0.1.0
torchmetrics==0.5.1
torchvision==0.9.0+cu111
tornado==5.1
tqdm==4.62.3
traitlets==4.3.2
Twisted==18.7.0
typed-ast==1.4.3
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.23
urwid==2.1.2
virtualenv==20.9.0
visdom==0.1.8.9
wandb==0.12.5
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==0.14.1
widgetsnbextension==3.4.1
wrapt==1.10.11
xautodl==0.9.9
xgboost==1.5.0
xlrd==1.1.0
XlsxWriter==1.1.0
xlwt==1.3.0
yacs==0.1.8
yarl==1.6.3
yaspin==2.1.0
zict==0.1.3
zipp==3.4.0
