# --------- pytorch --------- #
torch>=1.8.1
torchvision
pytorch-lightning==1.8.6
torchmetrics>=0.3.2
lightning-bolts>=0.3.3

# --------- hydra --------- #
hydra-core==1.2.0
hydra-colorlog==1.1.0.dev1
hydra-optuna-sweeper==1.1.0.dev2
# hydra-ax-sweeper==1.1.0
# hydra-ray-launcher==0.1.2
# hydra-submitit-launcher==1.1.0

# --------- loggers --------- #
wandb>=0.12.21
# neptune-client
# mlflow
# comet-ml
# torch_tb_profiler

# --------- linters --------- #
pre-commit
black
isort
flake8

# --------- cores --------- #
loguru>=0.6.0
einops
colorlog
scikit-learn
#numpy>=1.22.0

# --------- visualization --------- #
graphviz>=0.20.1

# --------- for building nasbench-201 --------- #
peewee

# --------- others --------- #
ipdb>=0.13.9
jupyterlab
pyrootutils
rich
pytest
sh
seaborn
pudb
