# _target_: hyperbox.models.darts_model.DARTSModel
_target_: hyperbox.models.classify_model.ClassifyModel
# _target_: hyperbox.models.random_model.RandomModel

defaults:
    - network_cfg: repnas_network.yaml
    - mutator_cfg: darts_mutator
    - optimizer_cfg: sgd
    - metric_cfg: accuracy
    - scheduler_cfg: warmup_scheduler
    - loss_cfg: cross_entropy

network_cfg:
    mask: '/home/pdluser/mask_json/mask_epoch_60.json'
